<div class="">
    <div class="letters" style="display: inline-block;">
        <ul class="g-tabs friends-letter-list" style="margin: 0 0 5px 0">
            <li class="g-tabs-item networkTabs__following" data-ng-repeat="(letter, users) in friends">
                <a href="#{{letter}" class="g-tabs-link" ng-click="setCurrentLetter(letter)">{{letter}}</a>
            </li>
        </ul>
    </div>
    <div class="friends-list-container">
        <div class="friends-search">Filter by Name
            <input type="text" ng-model="filterBox">
        </div>
        <div class="friends-list-body">
            <ul class="" style="display: inline-block;" style="width:100%" ng-repeat="(letter, users) in friends">
                <h1 ng-show="filtered.length" id="{{letter}}">{{letter}}</h1>
                <li class="friends-item" ng-click="selectUser(user)"  data-ng-repeat="user in (filtered = (users | filter: { username: filterBox }))">
                    <div class="">
                        <img class="friends-item-image" src="{{user.avatar_url}}" alt="{{user.username}}'s' avatar">
                        <div class="friends-item-footer">
                            <h2 class="friends-item-name">{{user.username}}</h2>
                            <input ng-model="user.selected" class="friends-item-checkbox" type="checkbox">
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
