<div class="span4za" id="contentDiv" ng-controller="GroupController">


    <article class="sidebarModule sc-border-light-bottom g-all-transitions-200-linear" style="">
        <a class="sidebarHeader sc-clearfix sc-link-light" ng-click="open('streams','lg')">
            <h3 class="sidebarHeader__title sc-type-light">

                <span class="sidebarHeader__actualTitle">Your Streams</span>
            </h3>
            <span class="sidebarHeader__more sc-type-h3">View default stream</span>
        </a>
        <div class="sidebarContent" style="min-height: 103px;">
            <div class="statsBadge sc-border-light-top">
                <table class="statsBadge__recent sc-type-small">
                    <tbody>
                        <tr>
                            <div class="streamList__list">
                                <div class="streamList__group" ng-repeat="group in groups"><a class="sc-link-dark sces-link" href ng-click="setActiveGroup(group)">{{group.name}}</a>
                                    <button class="sces-float-right sc-button sc-button-addtogroup sc-button-small sc-button-responsive sc-button-icon" title="Add to stream" ng-click="open('lg')">Add to stream</button>
                                    <button class="sces-float-right sc-button sc-button-small sc-button-icon sc-button-edit" title="Edit Stream">Edit this stream</button>
                                    <button class="sces-float-right sc-button-delete sc-button sc-button-small sc-button-responsive sc-button-icon" title="Delete stream">Delete this stream</button>
                                </div>
                            </div>
                        </tr>
                        <tr>
                            <td class="statsBadge__today sc-orange statsBadge__value sc-border-light-right">
                                <button class="sc-button sc-button-small sc-button-responsive sc-button-addtoset" tabindex="0" title="New Stream" ng-click="open('lg')">New Stream</button>
                            </td>
                            <td class="statsBadge__value"></td>
                        </tr>
                    </tbody>
                </table>

            </div>
        </div>

    </article>
</div>
