
<ul class="g-tabs" style="margin: 0 0 5px 0" data-ng-repeat="(alpha, key) in following">
<li class="g-tabs-item networkTabs__following"><a class="g-tabs-link" href="#">A{{alpha}}</a></li>

</ul>
    <ul class="lazyLoadingList__list sc-list-nostyle sc-clearfix">
    <div class="usersList floating user-avatar-badge lazyLoadingList" ng-controller="FollowController">
        <li class="usersList__item" width="150px" height="150px">
            <div class="userAvatarBadge hoverActions">
                <div class="userAvatarBadge__header">
                    <div class="sc-type-h2 sc-type-light">
                        <span class="userAvatarBadge__username g-type-shrinkwrap-inline" > <a href="{{user.permalink_url}}" class="userAvatarBadge__usernameLink" title="Visit {{user.username}}’s profile">  {{user.username}}  </a>
                        </span>​
                        <span class="userAvatarBadge__premiumIndicator">
                            <span>
                                <a href="/pro?ref=t072" title="Pro Unlimited user">
                                    <span class="sc-status-icon sc-status-icon-creator sc-status-icon-small sc-ir">Pro Unlimited</span>
                                </a>
                            </span>
                        </span>
                    </div>
                    <div class="userAvatarBadge__stats">
                        <div aria-label="User stats" class="userStats g-type-shrinkwrap-block">
                            <ul class="sc-ministats-group">
                                <li title="111817 followers" class="sc-ministats-item">
                                    <span class="sc-ministats sc-ministats-small sc-ministats-inverted sc-ministats-followers">
                                        <span class="sc-visuallyhidden">111817 followers</span>
                                        <span aria-hidden="true">111,817</span>
                                    </span>
                                </li>
                            </ul>

                        </div>
                    </div>
                </div>
                <div class="userAvatarBadge__body">
                    <a href="/ball-trap-music" class="userAvatarBadge__avatarLink">
                        <div class="userAvatarBadge__avatar">
                            <div class="image readOnly customImage image-200 image__hasPlaceholder image__hasPlaceholder-user image__hasPlaceholder-200" style="height: 200px; width: 200px;">
                                <img class="image__full g-opacity-transition" src="{{user.avatar_url}}" width="200" height="200" alt="︻╦╤─ ƱZ ─╤╦︻’s avatar" style="opacity: 1;">

                            </div>
                        </div>
                    </a>
                </div>
                <div class="userAvatarBadge__footer g-opacity-transition">
                    <button class="sc-button sc-button-follow sc-button-small sc-button-selected">Following

                    </button>
                    <div class="userAvatarBadge__play">
                        <button class="sc-button sc-button-play sc-button-large">Play
                        </button>
                    </div>
                </div>

            </div>
        </li>
    </ul>
</div>
