<div class="activity">
    <div role="group" class="sound playlist streamContext focused" aria-label="Playlist: {{item.title}} by {{item.user.username}}">
        <a class="sound__coverArt" href="{{item.permalink_url}}">
            <span class="coverArt__infoItem">
                <div class="playlistLength">
                    <span title="{{item.track_count}} tracks" class="sc-ministats sc-ministats-small sc-ministats-inverted sc-ministats-sounds">3
                    </span>
                </div>
            </span>
            <div ng-switch on="item.artwork_url" class="image readOnly customImage image__hasPlaceholder" style="height: 100%; width: 100%;">
                <img ng-switch-default class="image__full g-opacity-transition" src="{{item.artwork_url}}" width="100%" height="100%" alt="Mixes" style="opacity: 1;">
                <img ng-switch-when="null" class="image__full g-opacity-transition" src="{{item.user.avatar_url}}" width="100%" height="100%" alt="Mixes" style="opacity: 1;">

            </div>
        </a>
        <div class="sound__header">
            <div class="soundTitle sc-clearfix sc-hyphenate sc-type-h2">
                <div class="sc-type-light"> <a href="{{item.user.permalink_url}}" class="soundTitle__username  sc-link-light "> {{item.user.username}}  </a>
                </div>
                <div>
                    <div class="sc-media-image soundTitle__playButton ">
                        <button class="sc-button sc-button-play sc-button-large" title="Play" ng-click="player.play(item)" ng-hide="player.playing == item">
                        </button>
                        <button class="sc-button sc-button-play sc-button-large sc-button sc-button-pause" title="Pause" ng-click="player.pause()" ng-show="player.playing == item">
                        </button>
                    </div>
                    <div class="sc-media-content"> <a class="soundTitle__title sc-link-dark " href="{{item.permalink_url}}">{{item.title}}</a>
                    </div>
                </div>

            </div>
            <div class="sound__uploadTime">
                <time class="relativeTime" title="Posted on 1 July 2014 17:53" datetime="2014-07-01T21:53:44.000Z">
                    <span class="sc-visuallyhidden">Posted 11 hours ago</span>
                    <span aria-hidden="true">{{item.created_at | date : short}}</span>
                </time>
            </div>
        </div>
        <div class="sound__body">
            <div class="sound__waveform">
                <div class="waveform loaded">
                    <div class="waveform__layer waveform__scene">
                        <canvas aria-hidden="true" class="g-box-full sceneLayer" width="683" height="60"></canvas>
                        <canvas aria-hidden="true" class="g-box-full sceneLayer" width="683" height="60"></canvas>
                    </div>

                </div>
            </div>
        </div>
        <div class="sound__footer noDivider g-all-transitions-300">
            <div class="sound__soundActions">
                <div class="soundActions sc-button-toolbar soundActions__small">
                    <div class="sc-button-group sc-button-group-small">
                        <button class="sc-button sc-button-like sc-button-small sc-button-responsive" tabindex="0" title="Like">Like</button>
                        <button class="sc-button sc-button-repost sc-button-small sc-button-responsive" tabindex="0" aria-haspopup="true" role="button" aria-owns="dropdown-button-1700" title="Repost">Repost</button>
                        <button class="sc-button sc-button-share sc-button-small sc-button-responsive" title="Share" tabindex="0">Share</button>
                    </div>

                </div>
            </div>
            <div class="sound__footerRight">
                <div class="sound__soundStats">
                    <ul class="soundStats sc-ministats-group" aria-label="Playlist stats">
                        <li title="60 likes" class="sc-ministats-item">
                            <a href="/crnkn/sets/mixes/likes" title="View all likes" class="sc-ministats sc-ministats-small sc-ministats-likes">
                                <span class="sc-visuallyhidden">60 likes</span>
                                <span aria-hidden="true">60</span>
                            </a>
                        </li>
                        <li title="12 reposts" class="sc-ministats-item">
                            <a href="/crnkn/sets/mixes/reposts" title="View all reposts" class="sc-ministats sc-ministats-small sc-ministats-reposts">
                                <span class="sc-visuallyhidden">12 reposts</span>
                                <span aria-hidden="true">12</span>
                            </a>
                        </li>




                    </ul>
                </div>
            </div>
        </div>
        <div class="sound__trackList">
            <div class="compactTrackList sc-border-light sc-font-body">
                <div class="compactTrackList__listContainer">
                    <ul class="sc-list-nostyle sc-clearfix">
                        <li class="compactTrackList__item" ng-repeat="track in item.tracks | limitTo: 4">
                            <div class="compactTrackListItem sc-media sc-border-light-bottom clickToPlay" tabindex="0">
                                <div class="compactTrackListItem__image sc-media-image" ng->
                                    <div ng-switch on="track.artwork_url" class="image readOnly customImage image-20 image__hasPlaceholder image__hasPlaceholder-20" style="height: 20px; width: 20px;">
                                        <img ng-switch-default class="image__full g-opacity-transition" src="{{track.artwork_url}}" width="20" height="20" alt="{{track.title}}" style="opacity: 1;">
                                        <img ng-switch-when="null" class="image__full g-opacity-transition" src="{{track.user.artwork_url}}" width="20" height="20" alt="{{track.title}}" style="opacity: 1;">

                                    </div>
                                </div>
                                <div class="compactTrackListItem__content sc-media-content sc-truncate">{{track.user.username}} -
                                    <span class="compactTrackListItem__trackTitle">{{track.title}}</span>
                                </div>
                                <div class="compactTrackListItem__additional">
                                    <span class="compactTrackListItem__plays sc-ministats sc-ministats-small sc-ministats-plays">{{track.playback_count}}</span>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <a href="{{item.permalink_url}}" class="compactTrackList__moreLink sc-link-light"> View all {{item.track_count}} tracks ›
</a>
            </div>
        </div>

    </div>




</div>
