<div class="modal g-z-index-modal-background g-opacity-transition g-z-index-overlay type-default showBackground" tabindex="-1" id="overlay_1679" style="outline: none; padding-right: 0px;">
    <button title="Close" class="modal__closeButton">Close</button>
    <div class="modal__modal sc-border-box g-z-index-modal-content transparentBackground" style="width: 550px; left: 444.5px; margin-top: 76px; height: auto;">
        <div class="modal__content">
            <div class="addToPlaylistTabs">
                <div class="tabs">
                    <div class="tabs__headingContainer">
                        <h3 class="tabs__heading sc-text tabs__headingLarge">Create new playlist</h3>
                    </div>
                    <div class="tabs__content">
                        <div class="tabs__contentSlot" style="display: block;">
                            <div class="createPlaylist">
                                <section class="g-modal-section sc-clearfix">
                                    <div class="textfield createPlaylist__title messageOutside">
                                        <label>
                                            <span class="textfield__label">Playlist title</span>
                                            <div class="textfield__inputWrapper">
                                                <input class="textfield__input sc-input sc-input-medium" id="textfield__input-title" type="text" value="" aria-required="false">
                                                <div class="textfield__validation g-input-message g-input-message-hidden"></div>
                                            </div>
                                        </label>
                                    </div>
                                    <div class="createPlaylist__buttonWrapper">Playlist will be
                                        <div class="radioGroup sharingRadio createPlaylist__sharing sc-media-additional horizontal">
                                            <label class="radioGroup__radio sc-radio">
                                                <input class="sc-radio-input sc-visuallyhidden" type="radio" value="private" name="radio1686">
                                                <div class="sc-radio-radio"></div>private</label>
                                                <label class="radioGroup__radio sc-radio">
                                                    <input class="sc-radio-input sc-visuallyhidden" type="radio" value="public" name="radio1686">
                                                    <div class="sc-radio-radio"></div>public</label>
                                                </div>
                                                <button class="createPlaylist__saveButton sc-button-cta sc-button sc-button-medium" title="Save" tabindex="0">Save</button>
                                            </div>
                                            <div class="createPlaylistSounds sc-border-light">
                                                <div class="createPlaylistSounds__listContainer sc-clearfix">
                                                    <ul class="sc-list-nostyle sc-clearfix">
                                                        <li class="">
                                                            <div class="compactTrackListItem sc-media sc-border-light-bottom">
                                                                <div class="compactTrackListItem__image sc-media-image">
                                                                    <div class="image readOnly image-20 image__hasPlaceholder image__hasPlaceholder-20" style="height: 20px; width: 20px;">
                                                                        <img class="image__full g-opacity-transition" src="https://i1.sndcdn.com/avatars-000088728136-zf00f4-t20x20.jpg?e76cf77" width="20" height="20" alt="Aspin &amp; Dipace - Hoover The Club (Dem Slackers Remix)" style="opacity: 1;">
                                                                    </div>
                                                                </div>
                                                                <div class="compactTrackListItem__content sc-media-content sc-truncate">nightowl . . -
                                                                    <span class="compactTrackListItem__trackTitle">Aspin &amp; Dipace - Hoover The Club (Dem Slackers Remix)</span>
                                                                </div>
                                                                <div class="compactTrackListItem__additional">
                                                                    <button class="compactTrackListItem__remove g-button-remove-compact">
                                                                    <span class="sc-visuallyhidden">remove track</span>
                                                                    </button>
                                                                </div>
                                                            </div>
                                                        </li>
                                                    </ul>
                                                </div>
                                                <div class="createPlaylistSounds__placeholdersContainer">
                                                    <div class="createPlaylistSounds__placeholder sc-border-light-bottom"></div>
                                                    <div class="createPlaylistSounds__placeholder sc-border-light-bottom"></div>
                                                    <div class="createPlaylistSounds__placeholder sc-border-light-bottom"></div>
                                                </div>
                                            </div>
                                        </section>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>