<div plangular class="activity">
    <div role="group" class="sound streamContext" aria-label="Track: {{item.title}} by {{item.user.permalink}}">
        <!-- Cover Art -->
        <a class="sound__coverArt" href="{{item.permalink_url}}">
            <div ng-switch on="item.artwork_url" class="image readOnly customImage image__hasPlaceholder" style="height: 100%; width: 100%;">
                <img ng-switch-default class="image__full g-opacity-transition" src="{{item.artwork_url}}" width="100%" height="100%" alt="4B {MDW 2K14 MIX}" style="opacity: 1;">
                <img ng-switch-when="null" class="image__full g-opacity-transition" src="{{item.user.avatar_url}}" width="100%" height="100%" alt="4B {MDW 2K14 MIX}" style="opacity: 1;">
            </div>
        </a>
        <!-- End Cover Art -->
        <div class="sound__header">
            <div class="soundTitle sc-clearfix sc-hyphenate sc-type-h2">
                <!-- Username -->
                <div class="sc-type-light"> <a href="https://www.soundcloud.com/{{item.user.permalink}}" class="soundTitle__username  sc-link-light "> {{item.user.username}}  </a>
            </div>
            <!-- End Username -->
            <div>
                <!-- Play Button -->
                <div class="sc-media-image soundTitle__playButton ">
                    <button class="sc-button sc-button-play sc-button-large" title="Play" ng-click="player.play(item)" ng-hide="player.playing == item">
                    </button>
                    <button class="sc-button sc-button-play sc-button-large sc-button sc-button-pause" title="Pause" ng-click="player.pause()" ng-show="player.playing == item">
                    </button>
                </div>
                <!-- End Play Button -->
                <!-- Genre -->
                <div class="sc-media-content">
                    <div class="sc-media">
                        <div class="sc-media-extra soundTitle__tagContainer">
                            <a class="soundTitle__tag sc-tag sc-tag-small" href="/tags/dj">
                                <span class="soundTitle__tagContent sc-truncate">{{item.genre}}</span>
                            </a>
                        </div>
                        <div class="sc-media-content"> <a class="soundTitle__title sc-link-dark " href="{{item.permalink_url}}">{{item.title}}</a>
                    </div>
                </div>
            </div>
            <!-- End Genre -->
        </div>
    </div>
    <!-- Time -->
    <div class="sound__uploadTime">
        <time class="relativeTime" title="Posted on 22 May 2014 15:28" datetime="2014-05-22T19:28:51.000Z">
        <span class="sc-visuallyhidden">Posted 49 mins ago</span>
        <span aria-hidden="true">{{item.created_at}}</span>
        </time>
    </div>
    <!-- End Time -->
</div>
<!-- Waveform -->
<div class="sound__body">
    <div class="sound__waveform" ng-click="player.play(item)">
        <div waveform src="{{item.waveform_url}}" width="683" height="60" innercolor="#444444"></div>
        <!--                 <div class="commentPlaceholder g-z-index-content">
            <div class="commentPlaceholder__avatar"> -->
                <!--  <img aria-hidden="true" src="https://i1.sndcdn.com/avatars-000078152969-fmhpwn-t20x20.jpg?30a2558" class="" width="20" height="20"> -->
            </div>
        </div>
        <div class="commentBubble">
        </div>
    </div>
</div>
<!-- End Waveform -->
<div class="commentForm sc-media commentForm__transition small">
</div>
</div>
<div class="sound__footer sc-border-light-bottom g-all-transitions-300">
<div class="sound__soundActions">
    <div class="soundActions sc-button-toolbar soundActions__small">
        <div class="sc-button-group sc-button-group-small">
            <button class="sc-button sc-button-like sc-button-small sc-button-responsive" tabindex="0" title="Like">Like</button>
            <button class="sc-button sc-button-repost sc-button-small sc-button-responsive" tabindex="0" aria-haspopup="true" role="button" aria-owns="dropdown-button-190" title="Repost">Repost</button>
            <button class="sc-button sc-button-small sc-button-responsive sc-button-addtoset" tabindex="0" title="Add to playlist">Add to playlist</button>
            <button class="sc-button sc-button-share sc-button-small sc-button-responsive" title="Share" tabindex="0">Share</button> <a class="sc-button sc-button-download sc-button-small sc-button-responsive" tabindex="0" title="Download this track (110.5MB)" download="4B {MDW 2K14 MIX}">Download</a>
        </div>
        <div class="sc-button-group sc-button-group-small"> <a href="http://Facebook.com/like4b" target="_blank" title="FACEBOOK ME!" class="soundActions__purchaseLink sc-truncate sc-buylink sc-buylink-responsive sc-buylink-small sc-buylink-default">FACEBOOK ME!</a>
    </div>
</div>
</div>
<div class="sound__footerRight">
<div class="sound__soundStats">
    <ul class="soundStats sc-ministats-group" aria-label="Track stats">
        <li title="144 plays" class="sc-ministats-item">
            <span class="sc-ministats sc-ministats-small sc-ministats-plays">
            <span class="sc-visuallyhidden">144 plays</span>
            <span aria-hidden="true">144</span>
            </span>
        </li>
        <li title="26 likes" class="sc-ministats-item">
            <a href="/dj4b/4b-mdw-2k14-mix/likes" title="View all likes" class="sc-ministats sc-ministats-small sc-ministats-likes">
                <span class="sc-visuallyhidden">26 likes</span>
                <span aria-hidden="true">26</span>
            </a>
        </li>
        <li title="7 reposts" class="sc-ministats-item">
            <a href="/dj4b/4b-mdw-2k14-mix/reposts" title="View all reposts" class="sc-ministats sc-ministats-small sc-ministats-reposts">
                <span class="sc-visuallyhidden">7 reposts</span>
                <span aria-hidden="true">7</span>
            </a>
        </li>
        <li title="4 comments" class="sc-ministats-item">
            <a href="/dj4b/4b-mdw-2k14-mix/comments" title="View all comments" class="sc-ministats sc-ministats-small sc-ministats-comments">
                <span class="sc-visuallyhidden">4 comments</span>
                <span aria-hidden="true">4</span>
            </a>
        </li>
    </ul>
</div>
</div>
</div>
</div>