<div class="modal-header">
    <h3 class="modal-title">Streams</h3>
</div>
<div class="modal-body">
    <ul class="g-tabs g-tabs-large active">
        <li class="g-tabs-item"><a class="g-tabs-link">Create New Stream</a>
        </li>
    </ul>
    <div class="textfield messageOutside">
            <span class="input__label">Stream name</span></div><div>
            <input class="textfield__input sc-input sc-input-medium" id="textfield__input-title" type="text" value="" aria-required="false"></div>
    </div>
    <div class="modal-footer">
        <button class="sc-button" ng-click="ok()">OK</button>
        <button class="sc-button" ng-click="cancel()">Cancel</button>
    </div>
