<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="../../../css/bootstrap.css">
        <link rel="stylesheet" href="https://a-v2.sndcdn.com/assets/soundcloud-5ilg-bddf8726.css">
    </head>
    <body>
        <div class="modal-header">
            <ul class="g-tabs g-tabs-large active">
                <li class="g-tabs-item">
                    <a class="g-tabs-link">Add to stream</a>
                </li>
                <li class="g-tabs-item">
                    <a class="g-tabs-link active">Create new</a>
                </li>
                <li class="g-tabs-item">
                    <a class="g-tabs-link">Edit streams</a>
                </li>
            </ul>
        </div>
        <div class="modal-body">
            <div class="textfield messageOutside">
                <span class="input__label">Stream name</span>
            </div>
            <div>
                <input class="textfield__input sc-input sc-input-medium" id="textfield__input-title" type="text" value="" aria-required="false">
            </div>
        </div>
        <div class="modal-footer">
            <button class="sc-button" ng-click="ok()">OK</button>
            <button class="sc-button" ng-click="cancel()">Cancel</button>
        </div>
    </body>
</html>